<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <div class="navbar-brand"><span class="brand-title">Stratos</span></div>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li id="Clients">
                    <a href="#/"><i class="fa fa-users fa-2x"></i>&nbsp; <span style="font-size: 20px;">Clients</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>