<section id="list-view" class="mainbar" data-ng-controller="clientlist as vm">
    <section class="matter">
        <div class="container">
            <div class="alert alert-link" style="margin-bottom: -15px; margin-top: -30px;">
                <div class="row">
                    <h2>Search</h2>
                    <form role="form" name="buscar" style="margin: 0" novalidate>
                        <fieldset>
                            <span style="float: left; width: 80%">
                                <angucomplete-alt id="ex1"
                                                  placeholder="Client Name"
                                                  pause="100"
                                                  selected-object="vm.searchClient"
                                                  ng-model="vm.searchCriteria"
                                                  local-data="vm.clientsForAutocomplete"
                                                  search-fields="name"
                                                  title-field="name"
                                                  minlength="1"
                                                  input-class="form-controlAuto"
                                                  text-no-results="Not found" />
                            </span>
                            <span style="float: left; width: 20%">
                                <span>
                                    <button class="btn btn-primary" ng-click="vm.SearchClients()">Search &nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>

                                <span>
                                    <button class="btn btn-success" ng-click="vm.AddClient()">Add Client &nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </span>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div ng-show="vm.clients != null" class="alert alert-link">
                <div class="row">
                    <h2>Clients</h2>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr style="background-color: lightgrey">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="client in vm.clients | filter:vm.search_query">
                                <td>{{client.name}}</td>
                                <td>{{client.email}}</td>
                                <td>{{client.phone}}</td>
                                <td>
                                    <button class="btn btn-warning" ng-click="vm.EditClient(client.id)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="vm.DeleteClient(client.id)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" ng-click="vm.ViewServers(client.id)" title="Servers">Servers &nbsp;<span class="glyphicon glyphicon-hdd"></span></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>