<section id="list-view" class="mainbar" data-ng-controller="clientdetails as vm">
    <section class="matter">
        <header style="margin-left: -5px;">
            <h3>Client: {{vm.client.name}}</h3>
        </header>
        <form name="editForm" novalidate>
            <div style="padding-left: 15px;">
                <div class="row">
                    Name:
                    <div>
                        <input type="text" name="name" data-ng-model="vm.client.name" required class="width70 form-control" />
                        <span data-ng-show="editForm.name.$dirty && editForm.name.$invalid">Name is required</span>
                    </div>
                </div>
                <div class="row">
                    Company:
                    <div>
                        <input type="text" name="company" data-ng-model="vm.client.company" class="width70 form-control" />
                    </div>
                </div>
                <div class="row">
                    Email:
                    <div>
                        <input type="email" name="email" data-ng-model="vm.client.email" class="width70 form-control" />
                    </div>
                </div>
                <div class="row">
                    Phone:
                    <div>
                        <input type="text" name="phone" data-ng-model="vm.client.phone" class="width70 form-control" />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button type="submit" ng-disabled="!editForm.$dirty || editForm.$invalid" class="btn btn-primary" style="margin-left: 0; width: 150px; margin-top: 10px;" data-ng-click="vm.Save()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>